# Number of rainy days

This function should run a SQL query on a dataframe of
weather data.  The SQL query should return one column and
one row - a count of the number of days in the dataframe where
the rain column is equal to 1 (i.e., the number of days it
rained).  The dataframe will be titled 'weather_data'. You'll
need to provide the SQL query.  You might find SQL's count function
useful for this exercise.  You can read more about it here:
   
https://dev.mysql.com/doc/refman/5.1/en/counting-rows.html
    
You might also find that interpreting numbers as integers or floats may not
work initially.  In order to get around this issue, it may be useful to cast
these numbers as integers.  This can be done by writing cast(column as integer).
So for example, if we wanted to cast the maxtempi column as an integer, we would actually
write something like where cast(maxtempi as integer) = 76, as opposed to simply 
where maxtempi = 76.
   
You can see the weather data that we are passing in below:
https://s3.amazonaws.com/content.udacity-data.com/courses/ud359/weather_underground.csv

In [17]:
import pandas
import pandasql

data_source = "data/weather_underground.csv"

def num_days(query, filename):
    weather_data = pandas.read_csv(filename)
    #Execute your SQL command against the pandas frame
    days = pandasql.sqldf(query.lower(), locals())
    return days

count_columns = """
SELECT COUNT(*)
FROM weather_data;
"""

rainy = """
SELECT COUNT(*)
FROM weather_data
WHERE rain = 1
GROUP BY rain;
"""

sunny = """
SELECT COUNT(*)
FROM weather_data
WHERE rain = 0
GROUP BY rain;
"""

print num_days(sunny, data_source)
print num_days(rainy, data_source)

   count(*)
0        20
   count(*)
0        10

In [20]:
weather_data = pandas.read_csv("data/weather_underground.csv")
sum(weather_data["rain"])
weather_data[["fog", "maxtempi"]]

    fog  maxtempi
0     0        69
1     0        63
2     0        75
3     0        64
4     0        65
5     0        72
6     0        72
7     0        74
8     0        71
9     0        75
10    0        71
11    0        74
12    0        67
13    0        64
14    1        69
15    0        62
16    0        60
17    1        67
18    1        75
19    0        64
20    0        78
21    0        58
22    1        67
23    1        81
24    0        84
25    0        78
26    0        83
27    0        84
28    0        82
29    0        86

# Temp on foggy and non-foggy days
 
This function should run a SQL query on a dataframe of
weather data.  The SQL query should return two columns and
two rows - whether it was foggy or not (0 or 1) and the max
maxtempi for that fog value (i.e., the maximum max temperature
for both foggy and non-foggy days).  The dataframe will be 
titled 'weather_data'. You'll need to provide the SQL query.

In [22]:
fog_days = """
SELECT fog, MAX(maxtempi)
FROM weather_data
GROUP BY fog
"""

num_days(fog_days, data_source)

   fog  max(maxtempi)
0  0.0           86.0
1  1.0           81.0

# Mean temperature on weekends

In [ ]:
mean_temp_weekends = """

"""